@import url('https://fonts.google.com/specimen/Nunito+Sans');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

.container {
  margin: auto !important;
}

body {
  background: var(--main-bcg-color);
}

.dark-theme {
  --main-bcg-color: hsl(207, 26%, 17%);
  --header-input-bcg-color: hsl(209, 23%, 22%);
  --text-color: hsl(0, 0%, 100%);
  --border: none;
}

.light-theme {
  --main-bcg-color: hsl(0, 0%, 95%);
  --header-input-bcg-color: hsl(0, 0%, 98%);
  --text-color: hsl(200, 15%, 8%);
}

.header {
  width: 100%;
  padding: 1rem 0;
  z-index: 11;
  background: var(--header-input-bcg-color);
}
.header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;

  @media (min-width: 51px) and (max-width: 400px) {
    padding: 0 1.5rem;
  }

  @media (min-width: 400px) and (max-width: 575px) {
    padding: 0 2.5rem;
  }


  @media (min-width: 576px) and (max-width: 640px) {
    padding: 0 2rem;
  }
}

h3 {
  font-size: 1.4rem;
  color: var(--text-color);
  font-size: 1.4rem;
  @media (min-width: 51px) and (max-width: 383px) {
    font-size: 0.7rem;
  }
}

h5 {
  margin-top: 10px;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 17px;
}

h6 {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 12px;
}

h6 span {
  font-weight: 300;
  opacity: 80%;
}

span {
  color: var(--text-color);
}

.countriesList {
  max-width: 1440px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  @media (max-width: 750px) {
    gap: 1.1rem
  }
}

.card {
  width: 250px;
  border-radius: 5px;
  background: var(--header-input-bcg-color);
  color: var(--text-color);
}

.imgFlag img {
  width: 100%;
  height: 150px;
  border-radius: 5px 5px 0px 0px;
}

.wrapper {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding: 5rem; */
}

.countryInfo {
  padding: 20px;
}

.country__bottom h4 {
  /* color: var(--text-color); */
  text-align: center;
  margin-top: 15px;
}

input {
  width: 100%;
  padding: 10px 25px;
  color: var(--text-color);
  border-radius: 5px;
  background: var(--header-input-bcg-color);
  border: none;
  outline: none;
  cursor: pointer;
}

.countryData {
  display: flex;
  @media (max-width: 750px) {
    display: block;
  }
}

.countryData > div {
  width: 50%;
  padding: 10px 0;
  @media (max-width: 750px) {
    width: 100%;
  }
}

.countryData > div:first-child {
  margin-right: 20px;
  @media (max-width: 750px) {
    margin-right: 0px;
  }
}

::placeholder {
  color: var(--text-color);
}

.head {
  display: flex;
  justify-content: space-between;
  padding: 0 5rem;
  margin-bottom: 50px;
  
  @media (min-width: 51px) and (max-width: 400px) {
    padding: 0 1.5rem;
    flex-direction: column;
    gap: 2rem;
  }

  @media (min-width: 400px) and (max-width: 575px) {
    padding: 0 2.5rem;
    flex-direction: column;
    gap: 2rem;
  }


  @media (min-width: 576px) and (max-width: 640px) {
    padding: 0 2rem;
    flex-direction: column;
    gap: 2rem;
  }
}

select {
  padding: 10px;
  background: var(--header-input-bcg-color);
  border: none;
  outline: none;
  border-radius: 5px;
  color: var(--text-color);
  cursor: pointer;
  @media (min-width: 53px) and (max-width: 580px) {
    width: 70%;  
  }
}

.countryPageWrapper {

  padding: 5rem;

  @media (min-width: 51px) and (max-width: 400px) {
    padding: 5rem 1.5rem;
    flex-direction: column;
    gap: 2rem;
  }

  @media (min-width: 400px) and (max-width: 575px) {
    padding: 5rem 2.5rem;
    flex-direction: column;
    gap: 2rem;
  }


  @media (min-width: 576px) and (max-width: 640px) {
    padding: 5rem 2rem;
    flex-direction: column;
    gap: 2rem;
  }
}

.countryDataContainer {
  display: flex;
  padding-top: 3rem;
  column-gap: 1rem;
  @media (min-width: 53px) and (max-width: 830px) {
    display:block;
  }
}

.countryImgFlag,
.info {
  width: 50%;
  height: auto;
  @media (min-width: 53px) and (max-width: 830px) {
    width: 100%;
  }
}

.countryImgFlag img {
  width: 90%;
  height: auto;
  @media (min-width: 53px) and (max-width: 830px) {
    width: 100%;
  }
}

button {
  display: flex;
  justify-content: center;
  color: var(--text-color);
  background: var(--header-input-bcg-color);
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 2px;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.info {
  color: var(--text-color);
  font-size: 1.3rem;
  margin-bottom: 30px;
  @media (min-width: 53px) and (max-width: 830px) {
    padding-top: 2rem;
  }
}